.job-details-text-color {
  color: #757575;
}

.job-details-container-color {
  background: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.1) 0%,
    rgba(152, 115, 255, 0.1) 100%
  );
}

.job-details-apply-btn{
  background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
}
