.navbar-background {
  background: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.05) 0%,
    rgba(152, 115, 255, 0.05) 100%
  );
}

.header-nav-link {
  color: #757575;
}

.home-link {
  color: #7e90fe;
}

.nav-btn {
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  border-radius: 8px;
}

/* Hamburger Icon */
.hamburger-icon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header-nav-link {
    display: none;
  }

  .hamburger-icon {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
  }

  .hamburger-icon::before,
  .hamburger-icon::after {
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
  }

  .hamburger-icon::after {
    margin-bottom: 0;
  }
}