.banner-title{
  line-height: 2.5rem;
}
.banner-title-span {
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.banner-text {
  color: #757575;
}

.banner-img {
  width: 100%;
}

@media (min-width: 1024px) {
  .banner-img {
    width: 750px;
  }
}

@media (min-width: 1024px) {
  .banner-title{
    line-height: 90px;
  }
}